@import url('https://fonts.googleapis.com/css?family=Arapey|Montserrat:300');

html {
  margin: 0;
}

body:not(footer) {
  font-family: 'Arapey', serif;
  font-size: 1.2em;
  padding: 20px 20px 20px 40px;
  margin: 0;
  background: url(images/back.jpg);
  background-repeat: repeat;
}
h1 {
  margin-top: 140px;
  margin-bottom: -120px;
}

h1, h2, h3, header li, footer li {
  font-family: 'Montserrat', sans-serif;
}

header, footer, article {
  font-weight: normal;
}

header {
  font-size: 1.2em;
  color: #3b398e;
}

header ul {
  margin-top: 140px;
  padding: 10px 0px;
  padding-left: 0;
  color: rgb(255, 247, 237);
  background-color: #3b398e;
}

header li {
  padding: 10px 20px;
  display: inline;
}

header a:hover,header li:hover {
  background-color: #8b96ef;
}

article {
  background-color: rgba(255, 247, 237, 0.5);
  color: #3b398e;
  padding: inherit;
  max-width: 60%;
  box-shadow: 15px 10px 30px -10px rgb(113, 104, 142);
}

img[src^="images/1"] {
  max-width: 400px;
  max-height: 500px;
  padding-left: 30px;
}

div {
  padding: 10px;
  background-color: rgba(255, 247, 237, 0.5);
  box-shadow: 15px 10px 30px -10px rgb(113, 104, 142);
  float: right;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}

div p {
  text-align: center;
  font-size: 1.2em;
  color: #3b398e;
}

.button {
  color: #3b398e;
  font: 1em 'Arapey', serif;
  display:block;
  float: right;
  text-align: center;
}

input {
  display: list-item;
  margin-bottom: 10px;
  color: #3b398e;
  background-color: rgba(255,255,255,0.8);
}

p:not(div p) {
  max-width: 800px;
}

li {
  list-style: none;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

footer ul{
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3b398e;
  color: rgb(255, 247, 237);
  font-size: 0.9em;
}

footer li {
  padding: 0px 20px;
  display: inline;
}
